<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Il Mio Blog</title>
</head>
<body>
    Il Mio Blog
    <ul class="blogposts">
    </ul>
    
    <form action="/blogposts" method="POST">
        <input type="text" placeholder="blog title" name="blogtitle">
        <br>
        <input type="text" placeholder="blog content" name="blogcontent">
        <button type="submit">invia</button>
    </form>

</body>
</html>